body {background-color:black;
font:arial;
font color:white}
h1{color:grey;
font:verdana;}
.maindiv{
    align text:center;
    background-color:white;
    font color:black;
    width:300pixels;
    padding:20px;
    border-radius:25px;
}
div{
    margin:auto;
}


